[Unit]
Description=Monitoring HTTP service in Docker
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker start -a my-app
ExecStop=/usr/bin/docker stop -t 15 my-app
Restart=on-failure
RestartSec=3
TimeoutStopSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
